# API Endpoint
VITE_API_URL=http://localhost:5000

# Razorpay payments public key
VITE_RAZORPAY_KEY_ID=your_razorpay_key_id

# Google OAuth Client ID
VITE_GOOGLE_CLIENT_ID=your_google_client_id

# Unsplash API Access Key
VITE_UNSPLASH_ACCESS_KEY=your_unsplash_access_key
